@font-face {
    font-family: 'VosqueStyleH';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  }
@font-face {
  font-family: 'VosqueStyleB';
  src: url('./fonts/NotoSans-Light.ttf') format('truetype');
}